#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	automake --add-missing --foreign || true
	dh_auto_configure -- --with-hesiod

# For reasons I was unable to ascertain, dh_auto_test
# tries to build check.c as a standalone file, even
# though 'make check' is empty and even when it is
# removed.
override_dh_auto_test:
	true
